<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>脏检查0.0.1</title>
    <script src= "./dirty-checking0.0.1.js"></script>
    <style>
     button {
         height: 100px;
         width: 150px;
     }
    </style>
</head>
<body>
<div>
    <button ng-click="increase">
        增加
    </button>
    <button ng-click="decrease">
        减少
    </button>
    数量:
     <span ng-bind="data">

     </span>
     <br>
</div>
    
</body>
</html>